/* Theme Style */
body {
    background-color: #000000;
    color: rgb(255, 200, 0);
    font-family: 'DejaVu Sans Mono', monospace;
}

.status {
    color: rgb(255, 200, 0);
}

.face {
    color: rgb(255, 200, 0);
}
