/* Theme Style */
body {
    background-color: #000000;
    color: rgb(255, 150, 200);
    font-family: 'DejaVu Sans Mono', monospace;
}

.status {
    color: rgb(255, 150, 200);
}

.face {
    color: rgb(255, 150, 200);
}
